.list{
    display: inline;
    vertical-align: top;
    font-size: 0.8em;
    padding: 0.3em;
    color:beige;
        
}

.list:hover{
    background-color:lightgray;
    color: black;
    cursor: pointer;
    
}