.bgImg{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWzRdtXyfjYmN7EZnBaXDtaMgvnKjgL7kbMg&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 150vh;
  }
  .head{
      color:whitesmoke;
    font-size: 60px;
    text-shadow: 0.1em 0.1em 0.05em #333;

  }
  .ini{
      padding: 5px, 5px;
    border-radius: 5em;
    width: 10rem;
    height: 2rem;
    background-color: gray;
  }
  .ini:hover{
    cursor: pointer;
    background-color: lightgray;
}